.products {
    width: 900px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.product_list {
    width: 100%;
}

.search-product {
    text-align: right;
    margin-bottom: 50px;
}
.search-product input {
    width: 200px;
}
.search-product button {
    width: 50px;
    height: 30px;
    font-size: small;
    border-radius: 10px;
    border: 0;
    background-color: rgb(240, 240, 240);
    margin-left: 10px;
}

.product {
    display: inline-block;
    width: 226px;
    text-align: center;
    margin-bottom: 70px;
    margin-left: 37px;
    margin-right: 37px;
}

.product img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#product_name {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /** 글자수 제한 */
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
#product_name a {    /** router-link */
    text-decoration: none;
    color: black;
}

#product_price {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

/* 페이징 */
.page_nation li{ 
    list-style: none;
} 

.page_wrap {
    margin-right: 30px;
    text-align:center;
    font-size:0;
 }

.page_nation  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

.page_nation a {
    display:block;
    margin:0 3px;
    float:left;
    border:1px solid #e6e6e6;
    width:28px;
    height:28px;
    line-height:28px;
    text-align:center;
    font-size:13px;
    color:black;
    text-decoration:none;
    font-weight:bold;
}

.page_nation a:hover{
    background-color:rgb(22, 160, 133);
    color:white;
}