.title {
    margin-bottom: 10px;
}

.product-info {
    height: 200px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.product-pic {
    display: inline-block;
    width: 150px;
    height: 170px;
}
.product-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-detail {
    display: inline-block;
    margin-left: 20px;
}
.product-detail table tr td:nth-child(1) {
    width: 80px;
    font-weight: bold;
}
.product-detail table tr td:nth-child(2) {
    width: 20px;
}

#product-inquiry {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#product-inquiry table tbody tr {
    height: 30px;
}

#description-button {
    text-align: center;
}

#inquiry_direction {
    font-size: 12px;
    margin-right: 20px;
}

.inquiryButton {
    background-color:rgb(22, 160, 133);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-right: 30px;
    width: 120px;
}

textarea {
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 11px;
}

.question-info {
    color: gray;
}
.question-info hr {
    border: 1;
}